<div class="container">
  <h3>Daily Quotes</h3>
  <hr>

  <div class="row">
    <div class="col-md-6">
Form Here
    </div>
    <div class="col-md-6">
      <div *ngFor='let quote of quotes;let i = index'>
        <div>
          <h6 id={{i}} >{{quote.name}}</h6>
          <button (click)='toggleDetails(i)' class="btn btn-primary">More</button>
        </div>

        <div *ngIf='quote.showDetails'>
          <app-quote-details [quote]="quote"></app-quote-details>
        </div>
      </div>
    </div>
  </div>
</div>
