<div class="container">
  <h3>Daily Quotes</h3>
  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Quote</h5>
          <app-add-quote (addQuote)="addQuote($event)"></app-add-quote>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available Quotes</h5>
          <div *ngFor='let quote of quotes;let i = index'>
            <div class="alert alert-info" >
              <p id={{i}} >{{quote.name}} <span (click)='toggleDetails(i)' class="badge badge-secondary mouse-hover float-right">More</span></p>
              <div *ngIf='quote.showDetails'>
                <app-quote-details [quote]="quote"></app-quote-details>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
